.menustyle {
  font-family: 'Amazon Ember Display', sans-serif;
  font-size: x-large;
  font-weight: bolder;
}
ion-content {
  --ion-background-color: black;
  --ion-text-color:yellow;
  --ion-toolbar-background: black;

}
.logo {
  width: 20%;
}
