
<div class="ion-page" id="main-content">
<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-img class="logo" slot="start" src="../assets/icon/logo.png"></ion-img>
    <ion-title>100% Movies</ion-title>
    <ion-badge  *ngIf="authService.isLoggedIn()"> Welkom {{authService.getDisplayName()}}</ion-badge>
      <ion-menu-button slot="end" menu="main-menu" ></ion-menu-button>
  </ion-toolbar>
</ion-header>

  <ion-content [fullscreen]="true" class="ion-padding">

    <ion-toolbar>
    <ion-title size="large">Home</ion-title>
  </ion-toolbar>
  <ion-toolbar> Trending
    <ion-slides [options]="option" *ngIf="(movieObservable | async); let movies; else loading">
      <ion-slide *ngFor="let m of moviefilteredFinallist; let i = index">
        <ion-card>
          <ion-img [routerLink]="['moviedetail', m.id]"  [src]="m.coverAfbeelding.toLowerCase()"></ion-img>
          <ion-card-header>
            <ion-card-title style="color: yellow">{{m.titel}}</ion-card-title>
          </ion-card-header>
        </ion-card>
      </ion-slide>

    </ion-slides>

  </ion-toolbar>


  </ion-content>



</div>
